/* body {
  background-color: red;
} */


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #594F4F;
}

main {
  flex: 1 0 auto;
}

h1, h3 {
  color: #45ADA8;
}

a {
  color: #594F4F;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  height: 7vh;
}

.right {
  font-size: 18px;
  color: #E5FCC2;
}

nav, .page-footer {
  background-color: #45ADA8;
}

.page-footer .right {
  margin-top: 1em;
}

.card, .card-panel, p {
  background-color: #9DE0AD;
  color: #594F4F;
  border-radius: 20px;
}

input, label {
  color: #594F4F;
  margin-left: 2em;
  font-size: 16px;
}

.select-wrapper input.select-dropdown {
  margin-left: 2em;
  margin-right: 6em;
  width: 80%;
}

table {
  background-color: #547980;
  color: #594F4F;
  border-radius: 20px;
  padding: 1em;
}

td, th {
  padding-left: 2em;
}

.card .card-action:last-child {
  background-color: #45ADA8;
  color: #594F4F;
}

li a {
  color: #E5FCC2;
}

.striped {
  background-color: #9DE0AD;
  border-radius: 20px;
  padding: 1em;
}

.card-title {
  font-weight: bold;
}

.card-content p {
  background-color: #45ADA8;
}

.card .card-content p {
  margin: 1em;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #594F4F;
}

.card .card-action {
  border-top: 1px solid #547980;
}

.btn {
  background-color: #E5FCC2;
  color: #594F4F;
  border-radius: 20px;
  margin-top: 1em;
}

#id_date {
  margin-left: 2em;
  margin-right: 20px;
}

.add-form {
  color: #E5FCC2;
}

p {
  padding: 1em;
}

h5 {
  color: #45ADA8;
}


hr {
  border-color: #45ADA8;
}

.add-form tbody {
  background-color: #45ADA8;
  border-radius: 20px;
}

.add-form label {
  color: #594F4F;
}

#id_description {
  border: none;
}
